{% extends "base.html" %}
{% block title %}Resultados{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}

    <section class="p-3">
        <div>
            <h2>Resultados da Busca (core={{ core }}):</h2>
            <h6>Total de resultados encontrados: {{ total }}</h6>
        </div>

        {%for question in questions%}
            <div class="d-flex justify-content-center">
                <table class="tabelaResultados overflow-hidden my-4">
                <tbody>

                {%for field in question%}
                    <tr>
                        <td><b>{{ field }}:</b></td>
                        <td><div style="max-height:250px; overflow: auto; white-space: pre-line;">{% autoescape off %}{{ question[field] }}{% endautoescape %}</div></td>
                    </tr>
                {%endfor%}

                {% if "enem" in core %}
                    <tr>
                        <td><b>Download:</b></td>
                        <td><div>
                            <form class="d-flex w-auto" role="search" action="{{ url_for('download_file') }}" method="get">
                                <input type="hidden" name="core" value="{{ core }}">
                                <input type="hidden" name="tx_gabarito" value="{{ question['tx_gabarito'] }}">
                                <input type="hidden" name="doc_id" value="{{ question['id'] }}">
                                <select required class="form-select rounded-5 w-auto form-select-sm me-2" name="format" aria-label="Formato para download">
                                    <option value="" selected>Formato</option>
                                    <option value="moodle">Moodle</option>
                                    <option value="classroom" disabled>Classroom</option>
                                </select>
                                <button class="btn btn-outline-light rounded-5 btn-sm" type="submit">Download</button>
                            </form>
                        </div></td>
                    </tr>
                {% endif %}

                </tbody>
                </table>
            </div>

{#        <div class="d-flex justify-content-center mt-2 mb-2">#}
{#            {% if "enem" in core %}#}
{#                <form class="d-flex w-auto" role="search" action="{{ url_for('download_file') }}" method="get">#}
{#                    <input type="hidden" name="core" value="{{ core }}">#}
{#                    <input type="hidden" name="doc_id" value="{{ question['id'] }}">#}
{#                    <select required class="form-select rounded-5 w-auto form-select-sm me-2" name="format" aria-label="Formato para download">#}
{#                        <option value="" selected>Formato</option>#}
{#                        <option value="moodle">Moodle</option>#}
{#                        <option value="classroom" disabled>Classroom</option>#}
{#                    </select>#}
{#                    <button class="btn btn-outline-light rounded-5 btn-sm" type="submit">Download</button>#}
{#                </form>#}
{#            {% endif %}#}
{#        </div>#}

        {%endfor%}

        <div class="d-flex justify-content-center mt-4">
            {{ pagination.links }}
        </div>
    </section>

{% endblock %}